<div class="timer-container">
  <div class="timer-display">{{ formatTime(countdownTime - remainingTime) }}</div>
  <div class="button-group">
    <button (click)="startTimer()" [disabled]="isRunning">Start</button>
    <button (click)="stopTimer()">Stop</button>
    <button (click)="resetTimer()">Reset</button>
    <button (click)="recordCheckIn()" style="background-color: #4CAF50;">Check-in</button>
  </div>
  <app-runner-list [remainingTime]="remainingTime" [countdownTime]="countdownTime" [checkIns]="checkIns" (maxExpectedTimeChange)="onMaxExpectedTimeChange($event)"></app-runner-list>
</div>